@import 'base/fonts';
@import 'base/variables';
@import 'base/mixins';
@import 'libs/olrosa-lib';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Inter", sans-serif;
}

body {
    background: #F8F8F8;
}

.wrapper {
    max-width: 1320px;
    margin: 0 auto;
}

a {
    text-decoration: none
}

.section {
    padding: 40px 0;
}

@import 'blocks/title';
@import 'blocks/header';
@import 'blocks/slider';
@import 'blocks/form';
@import 'blocks/main/questions';
@import 'blocks/main/discounts';
@import 'blocks/main/delivery';
@import 'blocks/main/find';
@import 'blocks/main/recommend';
@import 'blocks/main/process';
