.account {
    &__offer {
        display: flex;
        gap: 26px
    }
    &__person {
        display: flex;
        flex-direction: column;
        width: 25%;
        gap: 8px;
        &-offer {
            padding: 24px;
            border-radius: 3px;
            border: 1px solid var(--200, #EDEEF2);
            background: var(--0, #FFF);
            box-shadow: 0px 4px 42px 0px rgba(0, 0, 0, 0.05);
        }
        .card__seller-rank {
            justify-content: flex-start;
            gap: 8px;
        }
    }
    &__info {
        display: none;
        flex-direction: column;
        gap: 24px;
        width: 100%;
        padding: 24px;
        border-radius: 3px;
        border: 1px solid var(--200, #EDEEF2);
        background: var(--0, #FFF);
        box-shadow: 0px 4px 42px 0px rgba(0, 0, 0, 0.05);
        &.active {
            display: flex;
        }
    }
    &__tabs-offer {
        width: 75%;
    }
    &__orders {
        display: none;
        flex-direction: column;
        gap: 24px;
        width: 100%;
        padding: 24px;
        border-radius: 3px;
        border: 1px solid var(--200, #EDEEF2);
        background: var(--0, #FFF);
        box-shadow: 0px 4px 42px 0px rgba(0, 0, 0, 0.05);
        &.active {
            display: flex;
        }
    }
    &__articles {
        display: none;
        flex-direction: column;
        gap: 24px;
        width: 100%;
        padding: 24px;
        border-radius: 3px;
        border: 1px solid var(--200, #EDEEF2);
        background: var(--0, #FFF);
        box-shadow: 0px 4px 42px 0px rgba(0, 0, 0, 0.05);
        &.active {
            display: flex;
        }
        .account__add {
            padding: 6px 12px;
            width: auto;
            min-width: 188px;
            height: 32px;
        }
        .discounts__aed {
            align-self: flex-start;
        }
        .discounts__w70 {
            width: 70% !important;
        }
        .discounts__like {
            display: none;
        }
        .discounts__star {
            width: 15px;
            height: 15px;
        }
        .discounts__stars {
           gap: 0;
        }
        .discounts__img {
            width: 210px !important;
            height: 210px !important;
        }
        .account__option {
            justify-content: flex-start !important;
            gap: 8px;
            input {
                &::after {
                    content: '';
                }
            }
        }
        .discounts__item.disactive {
            opacity: .5;
            filter: grayscale(100%);
            pointer-events: none;
            overflow: hidden;
        }
    }
    &__card-seller {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    &__reviews {
        display: none;
        flex-direction: column;
        gap: 24px;
        width: 100%;
        padding: 24px;
        border-radius: 3px;
        border: 1px solid var(--200, #EDEEF2);
        background: var(--0, #FFF);
        box-shadow: 0px 4px 42px 0px rgba(0, 0, 0, 0.05);
        &.active {
            display: flex;
        }
        .select-selected {
            justify-content: flex-start;
        }
        .seller__rate {
            font-size: 62px;
        }
        .card__seller-rank {
            justify-content: flex-start;
            gap: 14px;
        }
        .seller__reviews-descr {
            max-width: 240px;
        }
        .seller__reviews-nums {
            width: 70%;
        }
    }
    
    .seller__reviews-item {
        .seller__reviews-descr {
            width: 100%;
            max-width: 100%;
        }
    }
    &__art {
        color: var(--650, #848589);
        text-align: right;
        font-feature-settings: 'liga' off, 'clig' off;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 125%; /* 15px */
        text-align: right;
    }
    &__order {
        padding: 16px;
        display: flex;
        justify-content: space-between;
        border-radius: 3px;
        border: 1px solid var(--200, #EDEEF2);
        background: #FFF;
        &-img {
            width: 102px;
            height: 102px;
            object-fit: cover;
        }
        &-descr {
            color: var(--400, #D1D1D1);
            font-feature-settings: 'liga' off, 'clig' off;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 125%; /* 17.5px */
        }
        &-name {
            color: var(--1000, #211A00);
            font-feature-settings: 'liga' off, 'clig' off;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 125%; /* 25px */
        }
        &-btn {
            max-width: 150px;
            color: #44474C;
            font-size: 14px;
            font-weight: 500;
        }
    }
    &__warning {
        width: 81%;
        padding: 16px;
        border-radius: 3px;
        border: 1px solid #FF2C20;
        color: var(--1000, #211A00);
        text-align: center;
        font-feature-settings: 'liga' off, 'clig' off;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 125%; /* 20px */
        svg {
            cursor: pointer;
        }
    }
    &__more {
        width: 100%;
        padding: 12px;
        border-radius: 3px;
        border: 1px solid var(--300, #E6E7E9);
        background: var(--0, #FFF);
        color: var(--1000, #211A00);
        font-feature-settings: 'liga' off, 'clig' off;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 125%; /* 20px */
    }
    
    &__title {
        color: var(--1000, #211A00);
        font-feature-settings: 'liga' off, 'clig' off;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 125%; /* 30px */
    }
    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 106px;
        height: 106px;
        border-radius: 50%;
        background: var(--200, #EDEEF2);
        cursor: pointer;
        &-seller {
            width: 100%;
            height: 166px;
            border-radius: 3px;
        }
    }
    &__name {
        margin-top: 24px;
        color: var(--1000, #211A00);
        font-feature-settings: 'liga' off, 'clig' off;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 125%; /* 30px */
    }
    &__info {
        padding: 24px;
        border-radius: 3px;
        border: 1px solid var(--200, #EDEEF2);
        background: var(--0, #FFF);
        box-shadow: 0px 4px 42px 0px rgba(0, 0, 0, 0.05);
    }
    &__form {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    &__input {
        max-width: 368px;
        height: 40px;
    }
    &__descr {
        color: var(--400, #D1D1D1);
        font-feature-settings: 'liga' off, 'clig' off;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 125%; /* 17.5px */
    }
    &__date {
        max-width: 368px;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        gap: 8px;
        &-item {
            width: 100%;
        }
    }
    &__sex {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    &__button {
        max-width: 260px;
    }
    a {
        color: #0D61AF;
    }
    .text__nav {
        width: 100%;
    }
    &__empty {
            display: flex;
            flex-direction: column;
            gap: 52px;
            justify-content: center;
            min-height: 315px;
            padding: 24px;
            border: 1px solid var(--200, #EDEEF2);
            background: var(--0, #FFF);
            box-shadow: 0px 4px 42px 0px rgba(0, 0, 0, 0.05);
        &-title-2 {
            text-align: center;
            color: var(--1000, #211A00);
            text-align: center;
            font-feature-settings: 'liga' off, 'clig' off;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 125%; /* 25px */
        }
        &-subtitle {
            color: var(--400, #D1D1D1);
            text-align: center;
            font-feature-settings: 'liga' off, 'clig' off;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 125%; /* 20px */
            text-align: center;
        }
        .button-empty {
            width: 180px;
            margin: 0 auto;
            color: #44474C;
        }
    }
}