.top {
    position: fixed;
    display: none;
    padding: 17px;
    align-items: center;
    justify-content: center;
    bottom: 100px;
    left: 50px;
    border-radius: 5.071px;
    background: #FFF;
    box-shadow: 0px 6.762px 20.286px 0px rgba(0, 0, 0, 0.10);
    z-index: 3;
    cursor: pointer;
}
